.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* Esercizio MediaQuery */
@media screen and (max-width: 419px) {

/* COMMON 420px */
body {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #000839;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0px 0px 30px 0px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  border: 10px solid #10375c;
  color: #c70039;

}

h3 {
  font-size: 15px;
  line-height: 1;
  margin: 40px 0px 10px 0px;
  padding: 10px;
  text-align: center;
  background-color: #10375c;
  color: white;
}

.container {
  padding: 15px 15px 15px 15px;
}

.container.grey {
  background-color: white;
}

.row {
  width: 100%;
  margin: 0px;
  padding:0px 0px 10px 0px;
}

.row img {
  height: 120px;
}

/* Lezioni 420px */
#lezioni .row>.left,
#lezioni .row>.central,
#lezioni .row>.right {
  width: 100%;
  padding: 30px 0px 30px 0px;
}

/* Steps 420px */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  width: 100%;
  padding: 30px 0px 30px 0px;
}

/* Why 420px */
#why {
  background-color: white;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  margin: 0px;
  padding: 20px 0px 20px 0px;
}

#why .row>.first h3,
#why .row>.second h3,
#why .row>.third h3 {
  background-color: inherit;
  color: #c70039;
}

#why .row hr {
border: 2px solid #10375c;
margin: 20px 0px;
}

}
