.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* Esercizio MediaQuery */
@media screen and (max-width: 419px) {

/* COMMON 420px */
body {
  font-size: 10.5px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #000839;
}

h1 {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0px 0px 30px 0px;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

h3 {
  font-size: 15px;
  line-height: 1;
  margin: 30px 0px 15px 0px;
  padding: 5px;
  text-align: center;
}

.container {
  padding: 15px 15px 15px 15px;
}

.row {
  width: 100%;
  margin: 0px;
  padding:0px 0px 10px 0px;
}

.row img {
  height: 80px;
}

/* Lezioni 420px */
#lezioni h1{
  border: 15px solid #d7385e;
}

#lezioni h3{
  background-color: #10375c;
  color: white;
}

#lezioni .row>.left,
#lezioni .row>.right {
  width: 45%;
}

#lezioni .row>.left{
  margin-right: 10%;
}

/* Steps 420px */
#steps {
  background-color: white;
}

#steps h1 {
  background-color: #10375c;
  color:white;
}

#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  width: 30%;
}

#steps .row>.central {
  margin: 0 5% 0 5%;
}

/* Why 420px */
#why {
  background-color: white;
}

#why h3 {
  color: white;
}

#why h1 {
  border: 15px solid #06623b;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  margin: 0px;
  padding: 20px 0px 20px 0px;
}

#why .row img {
  height: 40px;
  padding: 20px;
}

#why .row hr {
display: none;
}

#why .row>.first h3 {
  background-color:#035aa6;
}

#why .row>.second h3 {
  background-color: #fa744f;
}

#why .row>.third h3 {
  background-color: #2c003e;
}

}
